body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000000;
}

.container, .container2 {
  background-color: #FFFFFF;
  padding: 20px;
  width: 90%;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container2 {
  max-width: 500px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 300px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.44); /* Fondo gris oscuro semi-transparente */
  backdrop-filter: blur(10px); /* Efecto de borrosidad */
  border-radius: 10px;
  align-content: center;
}

.progress-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.step {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FFFFFF;
  color: #C7CED1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border: 2px solid #C7CED1;
}

.step.active {
  border-color: #64D87F;
  color: #64D87F;
}

.step.completed {
  border-color: #C7CED1;
  color: #C7CED1;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
}

h3 {
  color: #555;
  margin-bottom: 20px;
}

.login-container, .payment-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.existing-client, .new-client, .delivery-method .method, .order-summary, .payment-form {
  background-color: #F9F9F9;
  padding: 20px;
  border-radius: 10px;
}

.delivery-method {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.method {
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: relative;
}

.method input {
  margin-bottom: 10px;
}

.method .free {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #E0FFE0;
  padding: 5px;
  border-radius: 5px;
}

.order-summary {
  margin-top: 20px;
}

.product {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.product img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 10px;
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.total span {
  display: block;
}

.continue-button, .btn {
  background-color: #00ffb3;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
  font-size: 16px;
  margin-bottom: 10px; /* Añadido para dar espacio entre los botones */
}

.continue-button:hover, .btn:hover {
  background-color: #3bffc4;
}

.google-btn {
  background-color: #00ffb3;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.google-btn:hover {
  background-color: #3bffc4;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.google-btn img {
  margin-right: 10px;
}

.guarantee {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  color: #999;
}

.progress-bar .arrow-icon {
  color: #ccc;
  font-size: 1.2em;
  margin: 0 10px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: rgba(255, 255, 255);
}

.input-group input {
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.44); /* Fondo gris oscuro para los campos */
  color: #ffffff;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;

}

.payment-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.fa-brands, .fab {
    font-family: "Font Awesome 6 Brands";
    font-weight: 400;
    margin-right: 1rem;
}



body::after{
  content: "";
  position: absolute;
  background-color: #ed2ff0;
  width: 300px;
  height: 300px;
  left: 75%;
  top: 20%;
  filter: blur(200px);
}

body::before{
  content: "";
  position: absolute;
  background-color: #22a8cd;
  width: 300px;
  height: 300px;
  left: 10%;
  top: 80%;
  filter: blur(200px);
}

p {
  color: #ffff
}
